@charset "utf-8";


/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:'Roboto', 'Noto Sans KR', '돋움', Dotum, tahoma, sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
iframe,object,video,embed{position:relative;top:0;left:0;max-width:100%}
img,fieldset{border:0;outline:none}

/* html5 ie9 else */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;padding:0;margin:0}
img, input,select,textarea{vertical-align:top; color:#333;font-family:'Roboto', 'Noto Sans KR', '돋움', Dotum, tahoma, sans-serif;letter-spacing:-1px}
textarea{resize:none;border:none;background:none}
a {text-decoration:none;color:#333;}
a:link, a:visited {text-decoration:none;color:#333;}
a:hover, a:focus, a:active{background:none;text-decoration:none;}

/* user class */
/*#skip_navi {overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0}*/ /* 스킵네비게이션 */
.skipToContent a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
.skipToContent a:focus, #skip a:active {width:200px;height:50px;background:#21272e;color:#fff;font-size:14px;font-weight:bold;text-align:center;text-decoration:none;line-height:50px}
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa {display:block;overflow:hidden;position:relative;z-index:-10;width:100%;height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {float:left}
.f_r {float:right}
.cl_b {width:0;height:0;font-size:0;line-height:0;clear:both}
.show {display:block}
.hide {display:none}
.tbl {border-collapse:collapse;border-spacing:0} /* 테이블 초기화 */
.clear_fix {display:block;overflow:visible;width:auto;clear:both;*zoom:1}
.clear_fix:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}
